/*global styling*/
:root {
  --global-padding: 100px 100px;
  --main-background-clr: #0891b2;
  --white-clr: #ffffff;
  --black-clr: #060b04;
  --gray-clr: #575655;
}

body {
  margin: 0;
  background-color: var(--white-clr);
  color: var(--black-clr);
  font-family: Roboto, Tahoma, Verdana, sans-serif;
}

h1,
h2 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 400;
}

section p {
  color: var(--gray-clr);
}

.github-icon,
.open-in-new-icon,
.phone-icon,
.linkedin-icon,
.twitter-icon {
  height: 2em;
  width: 2em;
}

.projects,
.about-me,
.footer {
  padding: var(--global-padding);
}

img {
  height: 50px;
}

.about-me-text-container,
.project,
.about-me-background{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/*about me section*/

.about-me-img{
  position:absolute;
  left:200px;
  top:225px;

  transform-origin: center;
  transform: translate(-50%, -50%);
  height:300px;
  width:150px;
}

.my-name{
  color:var(--white-clr);
  position:absolute;
  left:200px;
  top:275px;

  transform-origin: center;
  transform: translate(-50%, 0%);
  width:100px;
}

.about-me-text-container{
  background-color: var(--white-clr);
  padding:20px 30px 20px 200px;
}

.about-me-background{
  position:absolute;
  top:300px;
  left:0;

  transform-origin: center;
  transform: translate(0, -100%) skewY(-10deg);
  height:700px;
  width:100%;
  background-color: var(--main-background-clr);
  z-index: -1;
}

.about-me .icons-container{
  display: flex;
  justify-content: flex-end;
  gap:20px;
}

/*projects*/
.projects-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.screenshot-img{
  width:100%;
  height:auto;
  object-fit: cover;
}

.project{
  padding-bottom:30px;
}

.footer {
  color: var(--white-clr);
  background-color: var(--main-background-clr);
}
