/*global styling*/
:root {
  --global-padding: 100px 100px;
  --main-background-clr: #0891b2;
  --white-clr: #ffffff;
  --black-clr: #060b04;
  --gray-clr: #575655;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white-clr);
  color: var(--black-clr);
  font-family: Roboto, Tahoma, Verdana, sans-serif;
}

h1,
h2 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 400;
}

section p {
  color: var(--gray-clr);
}

.github-icon,
.open-in-new-icon,
.phone-icon,
.linkedin-icon,
.twitter-icon {
  height: 2em;
  width: 2em;
}

.projects,
.about-me,
.footer {
  padding: var(--global-padding);
}

.about-me-text-container,
.project,
.about-me-background{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/*about me section*/
.my-name{
  color:var(--white-clr);
  position:absolute;
  transform-origin: center;
  transform: translate(-50%, 0%);
  width:100px;
}

.about-me-img-wrapper{
  display:block;
  height:260px;
}

.about-me-img{
    position:absolute;
    transform-origin: center;
    height:300px;
    width:200px;
}

.about-me-text-container{
  background-color: var(--white-clr);
  padding:20px 30px 20px 30px;
}

.about-me-background{
  position:absolute;
  top:300px;
  left:0;

  transform-origin: center;
  transform: translate(0, -100%) skewY(-10deg);
  height:700px;
  width:100%;
  background-color: var(--main-background-clr);
  z-index: -1;
}

.about-me .icons-container{
  display: flex;
  justify-content: flex-end;
  gap:20px;
}

/*projects*/
.projects-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.screenshot-img{
  width:100%;
  height:auto;
  object-fit: cover;
}

.project{
  padding-bottom:30px;
}

/*footer*/
.footer {
  display:grid;
  grid-template-columns: 1fr 3fr;
  gap:20px;
  background-color: var(--main-background-clr);
  color:var(--white-clr);
}

.phone, .mail{
  display: flex;
  gap:20px;
  align-items:center;
}

.footer .icons-container{
  margin-top: 10px;
  display:flex;
  gap:20px;
}

.footer-img{
  max-width: 100%;
  height:auto;
  object-fit: contain;
}

@media (min-width: 751px){
   .about-me-img{
    left:170px;
    top:225px;

    transform: translate(-50%, -50%);
  }

  .about-me-img-wrapper{
    float:left;
    width: 160px;
  }

  .my-name{
    left:170px;
    top:275px;
  }
}

@media (max-width: 750px) {
  :root {
    --global-padding: 30px 30px;
  }

  /* about me */
  .about-me-img{
    left:50%;
    top:50%;

    transform: translate(-50%, -50%);
  }

  .about-me-img-wrapper{
    position: relative;
    height: 300px;
  }
  .my-name{
    left:50%;
    bottom: 0;
  }

  .about-me-background{
    display: none;
  }

  .about-me-text-container{
    box-shadow:none;
  }

  h1{
    text-align: center;
  }

  .about-me .icons-container{
    display: flex;
    justify-content: center;
    gap:20px;
  }

  /*projects*/
  .projects-container {
    grid-template-columns: 1fr;
  }

  /*footer*/
  .footer {
    padding:0;
    display:flex;
    gap:20px;
    flex-direction: column;
  }

  .phone, .mail{
    display: none;
  }

  .footer .icons-container{
    margin-top: 10px;
    display:flex;
    justify-content: center;
    gap:20px;
  }

  .footer > div{
    padding:var(--global-padding);
  }

  .footer-img{
    max-width: 100%;
    height:auto;
    object-fit: contain;
  }
}